<div id="mc_embed_shell">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_shell .form-control {border-color: #3c3e3e;background-color:light;border-radius: 30px;font-size: 15px;font-weight: 300;color:#0c0600; padding: 15px 20px;}
    .input { border-top-right-radius: 30px !important; border-bottom-right-radius: 30px !important;}
    .response { color:#00ADD8 }
  </style>
  <div class="widget newsletter-widget">
      <div class="widget-title">
        <h3 class="h5 title-border">{{ site.Params.subscription.newsletter_title }}</h3>
      </div>
    {{ with site.Params.subscription }}
      <a href="https://mailchi.mp/5cb18b11495f/aterrizaje" class="btn btn-secondary w-100 mb-3" target="_blank">Ver más información</a>
      <p class="text-light-900 small content">{{ site.Params.subscription.newsletter_reminder_a }} <a href="{{`politica-de-privacidad`| relLangURL}}/" class="text-light-900"><strong>{{ site.Params.subscription.newsletter_reminder_b }}</strong></a></p>
    </div>
  </div>
{{ end }}
</div>

